/* style.css */
#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.cell {
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    cursor: pointer;
}
