#jogo {
    background-color: #f1cdcd;
    border: 1px solid #ff8585;
}

.cobra {
    background-color: #000;
    width: 10px;
    height: 10px;
}

.comida {
    background-color: #ff0000;
    width: 10px;
    height: 10px;
}
